/*************************/
/* Impure button borders */
/*************************/
.impure-button {
	border: 1px solid #c7c7c7;
}

.impure-button.button-secondary {
	border: 1px solid #178acc;
}

.impure-button.pure-button-primary {
	border: 1px solid #157ab5;
}

.impure-button.button-success {
	border: 1px solid #59822c;
}

.impure-button.button-error {
	border: 1px solid #9a161a;
}

.impure-button.button-warning {
	border: 1px solid #aa4200;
}

/**************************/
/* Impure Dropdown Button */
/**************************/
.impure-button-dropdown {
	float: left;
	margin-right: 5px;
}
/* Added a caret to the dropdown button */
.impure-button-dropdown .impure-caret-down:after {
	content: "\25BE";
	line-height: 1;
}
/* Arrange the border radius for the buttons to match */
.impure-button-dropdown	button {
	border-radius: 2px 0 0 2px;
}
.impure-button-dropdown button.impure-caret-down {
	border-radius: 0 2px 2px 0;
	border-left: none
}
/*
	Give borders to the dropdown
 */
.impure-button-dropdown ul.pure-menu-children {
	border: solid 1px grey;
}
/*
	Align the items on the left with some padding.
 */
.impure-button-dropdown ul.pure-menu-children .pure-menu-link {
	padding: 10px;
	text-align: left;
}
/*
	Change the background hover color.
 */
.impure-button-dropdown ul.pure-menu-children .pure-menu-link:hover {
	background-color: #eee;
}
/*
	Fix dividers inside dropdown menu
 */
.impure-button-dropdown .pure-menu-divider {
	margin: 0;
}
/*
	Show the menu only when the dropdown is opened
 */
.impure-button-dropdown ul.pure-menu-list,
.impure-button-dropdown ul.pure-menu-children {
	position: absolute;
	display: none;
	border: 1px solid #e5e5e5;
	background-color: white;
}

.impure-button-dropdown .impure-button-dropdown-menu {
	position: relative;
}

.impure-button-dropdown .impure-button-dropdown-menu__open ul.pure-menu-list {
	display: block;
}
/*
	Menu Items Stye
 */
	/*
		Add box-shaddow to the menu.
		Round borders and we move it closer to the buttons.
	 */
.impure-button-dropdown ul.pure-menu-list,
.impure-button-dropdown ul.pure-menu-children {
	width: inherit;
	top: 0;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border-radius: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}